@model CartClass

@if (@Model == null)
{
    <p>В корзине пусто!</p>
}
else
{
    <div class="row">
        <table class="table-bordered" width="100%">
            <tr>
                <th>Название позиции</th>
                <th>Количество товара в позиции, шт</th>
                <th>Стоимость позиции, руб</th>
                <th>Стоимость товара, руб</th>
            <tr />
            @foreach (var product in @Model.CartItems)
            {
                <tr>
                    <td>@product.Product.Name</td>
                    <td>
                        <a class="btn btn-light" href="/cart/changeCount?count=-1&product=@product.Product.Name"><b>-</b></a>
                        @product.Count
                        <a class="btn btn-light" href="/cart/changeCount?count=1&product=@product.Product.Name"><b>+</b></a>
                    </td>
                    <td>@product.Product.Cost</td>
                    <td>@product.Cost</td>
                </tr>
            }
        </table>
    </div>

    <br>
    <h3 style="text-align:right">Общая стоимость: @Model.FullCost</h3>
    <div style="text-align:center">
        <a class="btn btn-primary" href="/home/index">Продолжить покупки</a>
        <a class="btn btn-success" href="#">Оформить заказ</a>
    </div>
    <div style="text-align:right">
        <a class="btn btn-danger" href="/cart/clear">Очистить корзину</a>
    </div>


}