@model CartViewModel

@if (@Model == null || @Model.CartItems == null || @Model.CartItems.Count == 0)
{
    <p>В корзине пусто!</p>
}
else
{
    <div class="row">
        <table class="table-bordered" width="100%">
            <tr>
                <th>Название позиции</th>
                <th>Количество товара в позиции, шт</th>
                <th>Стоимость позиции, руб</th>
                <th>Стоимость товара, руб</th>
            <tr />
            @foreach (var product in @Model.CartItems)
            {
                <tr>
                    <td>@product.Product.Name</td>
                    <td>
                        <a class="btn btn-light" asp-controller="cart" asp-action="changeCount" asp-route-count="-1" asp-route-userId="@Model.UserID" asp-route-product="@product.Product.Name"><b>-</b></a>
                        @product.Count
                        <a class="btn btn-light" asp-controller="cart" asp-action="changeCount" asp-route-count="1" asp-route-userId="@Model.UserID" asp-route-product="@product.Product.Name"><b>+</b></a>
                    </td>
                    <td>@product.Product.Cost</td>
                    <td>@product.Cost</td>
                </tr>
            }
        </table>
    </div>

    <br>
    <h3 style="text-align:right">Общая стоимость: @Model.FullCost</h3>
    <div style="text-align:center">
        <a class="btn btn-primary" asp-controller="home" asp-action="index">Продолжить покупки</a>
        <a class="btn btn-success" asp-controller="order" asp-action="index">Оформить заказ</a>
    </div>
    <div style="text-align:right">
        <a class="btn btn-danger" asp-controller="cart" asp-action="clear" asp-route-userId="@Model.UserID">Очистить корзину</a>
    </div>


}