@model ProductViewModel

<div class="row; card shadow; position-relative">
    <h2>@Model.Name</h2>
    <a class="btn btn-info" style="position:absolute; right: 3px; top: 3px" asp-controller="compare" asp-action="add" asp-route-productId="@Model.ID">Добавить в сравнение</a>
    <a class="btn btn-info" style="position:absolute; right: 200px; top: 3px" asp-controller="favorite" asp-action="add" asp-route-productId="@Model.ID">Добавить в избранное</a>

    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {
            <div class="carousel-item active">
                <img src=@(Model.Images.FirstOrDefault() == null ? "" : Model.Images.FirstOrDefault().Name) height="550">
            </div>
            }
            @foreach (var photo in @Model.Images)
            {
                <div class="carousel-item">
                    <img src=@photo.Name height="550">
                </div>
            }
        </div>
        <a class="carousel-control-prev" role="button" href="#carousel" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a class="carousel-control-next" role="button" href="#carousel" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
        </a>
    </div>

    <div class="card-footer; text-center">
        <h4>Стоимость автомобиля: @Model.Cost</h4>
        <br>
        <a asp-controller="cart" asp-action="add" asp-route-productId="@Model.ID" class="btn btn-success">Добавить в корзину</a>
        <a class="btn btn-primary" asp-controller="home" asp-action="index">Продолжить покупки</a>
    </div>
</div>


