@model UserViewModel

<h2>Редактирование продукта</h2>
<form method="post" asp-area="admin" asp-controller="user" asp-action="SaveUser">
    <div>
        <div>
            <input type="text" name="userId" value="@Model.ID" hidden/>
            <div>
                <label asp-for="Name">Имя: </label><br />
                <input asp-for="Name" type="text" value="@Model.Name" name="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Email">Email: </label><br />
                <input asp-for="Email" type="email" value="@Model.Email" name="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Age">Возраст: </label><br />
                <input asp-for="Age" type="number" value="@Model.Age" name="Age" />
                <span asp-validation-for="Age"></span>
            </div>
            <div>
                <label asp-for="Role">Роль: </label><br />
                <input asp-for="Role" type="text" value="@Model.Role" name="Role" />
                <span asp-validation-for="Role"></span>
            </div>
        </div>
        <button class="btn btn-success" type="submit">Сохранить изменения</button>
    </div>
</form>
