@using OnlineShopWebApplication.Areas.Admin.Models
@model EditProductViewModel

<h2>Редактирование продукта</h2>
<form method="post" asp-area="admin" asp-controller="product" asp-action="SaveProduct" enctype="multipart/form-data">
    <div>
        <div>
            <input value="@Model.ID" name="ID" hidden /></>
            @Html.HiddenFor(model => model.ConcurrencyToken)
        </div>
        <div>
            <label asp-for="Name">Название: </label>
            <input asp-for="Name" type="text" value="@Model.Name" name="Name" /></>
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Description">Описание: </label>
            <input asp-for="Description" type="text" value="@Model.Description" name="Description" /></>
            <span asp-validation-for="Description"></span>
        </div>
        <div>
            <label asp-for="Cost">Стоимость: </label>
            <input asp-for="Cost" type="text" value="@Model.Cost" name="Cost" /></>
            <span asp-validation-for="Cost"></span>
        </div>
        <div>
            <label asp-for="FileToUpload">Photo: </label>
            <input asp-for="FileToUpload" type="file" value="@Model.FileToUpload" name="FileToUpload" /></>
            <span asp-validation-for="FileToUpload"></span>
        </div>
        <div>
            <label style="color:red">@Html.ValidationMessageFor(model => model.Error)</label>
        </div>
        <button class="btn btn-success" type="submit">Сохранить изменения</button>
    </div>
</form>
