@model OrderViewModel

<h2>Детали заказа</h2>

<form action="/" method="post">
    <div>
        <table>
            <tr>
                <td>Номер заказа:</td>
                <td>@Model.OrderNumber</td>
            </tr>
            <tr>
                <td>Статус заказа:</td>
                <td>@EnumHelper.GetEnumDiaplayName(@Model.Status)</td>
            </tr>
            <tr>
                <td>Клиент:</td>
                <td>@Model.DeliveryInfo.Name</td>
            </tr>
            <tr>
                <td>Адрес доставки:</td>
                <td>@Model.DeliveryInfo.Address</td>
            </tr>
            <tr>
                <td>Телефон:</td>
                <td>@Model.DeliveryInfo.Phone</td>
            </tr>
            <tr>
                <td>Заказ создан:</td>
                <td>@Model.CreationDatetime</td>
            </tr>
            <tr>
                <td>Логин:</td>
                <td>@Model.UserName</td>
            </tr>
        </table>

        <br />
        <br />
        <table class="table-bordered" width="100%">
            <tr>
                <th>ID</th>
                <th>Наименование</th>
                <th>Описание</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Общая стоимость</th>
            </tr>
            @foreach (var item in @Model.CartItems)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Description</td>
                    <td>@item.Product.Cost</td>
                    <td>@item.Count</td>
                    <td>@item.Cost</td>
                </tr>
            }
        </table>
        <br />
        <p><h4>Общая сумма: @Model.CartItems.Sum(x => x.Cost * x.Count)</h4></p>
    </div>
</form>