@model List<User>

<div class="row">
    @await Html.PartialAsync("AdminLeftMenu")

    <div class="col-9">
        <h3>Список пользователей</h3>
        <a asp-area="admin" asp-controller="account" asp-action="AddUser">Добавить пользователя</a>
        <table class="table-bordered" width="100%">
            <tr>
                <th>Имя</th>
                <th>Email</th>
                <th></th>
            </tr>
            @foreach (var item in @Model)
            {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="actionMenu" data-toggle="dropdown">Действие</button>
                <ul class="dropdown-menu" aria-labelledby="actionMenu">
                    <li class="dropdown-item"><a asp-area="admin" asp-controller="account" asp-action="editUser" asp-route-userId="@item.Id">Редактировать</a></li>
                    <li class="dropdown-item"><a asp-area="admin" asp-controller="account" asp-action="changePassword" asp-route-userId="@item.Id">Сменить пароль</a></li>
                    <li class="dropdown-item"><a data-toggle="modal" data-target="#deleteModal" data-userId="@item.Id">Удалить</a></li>
                </ul>
            </td>
        </tr>
            }
        </table>
    </div>
</div>

<form method="post" asp-area="admin" asp-controller="account" asp-action="removeUser">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Подтвердите удаление пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer" style="display:flex; justify-content:center">
                        <input type="text" name="userId" hidden />
                        <button type="submit" class="btn btn-primary">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</form>


@section scripts
{
    <script>
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.attr('data-userId')
            var modal = $(this)
            modal.find('.modal-footer input').val(recipient)
        })
    </script>
}

