@using OnlineShopWebApplication.Areas.Admin.Models
@model EditUserViewModel

<h2>Редактирование пользователя</h2>
<form method="post" asp-area="admin" asp-controller="account" asp-action="SaveUser">
    <div>
        <div>
            <input type="text" name="userId" value="@Model.Id" hidden />
            <div>
                <label asp-for="Name">Имя: </label><br />
                <input asp-for="Name" type="text" value="@Model.Name" name="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Email">Email: </label><br />
                <input asp-for="Email" type="email" value="@Model.Email" name="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Description">Описание: </label><br />
                <input asp-for="Description" type="text" value="@Model.Description" name="Description" />
                <span asp-validation-for="Description"></span>
            </div>
            <div>
                <label style="color:red">@Html.ValidationMessageFor(model => model.Error)</label>
            </div>
        </div>
        <br />
        <button class="btn btn-success" type="submit">Сохранить изменения</button>
    </div>
</form>
