@model UserCabinetViewModel

<h2>Личный кабинет пользователя @Model.Name</h2>

<div>
    <div>
        <label>ID:</label> <br />
        <input value="@Model.Id">
    </div>
    <div>
        <label>Name:</label> <br />
        <input value="@Model.Name">
    </div>
    <div>
        <label>Email:</label> <br />
        <input value="@Model.Email">
    </div>
    <div>
        <label>Описание:</label> <br />
        <input value="@Model.Description">
    </div>
    <div>
        <label>Photo:</label> <br />
        @if (@Model.Photos != null)
        {
            foreach (var photo in @Model.Photos)
            {
                <img src=@photo.Name />
            }
        }
    </div>
    <br />
    <a class="btn btn-success" asp-area="" asp-controller="account" asp-action="editUser" asp-route-userName="@Model.Name">Редактировать</a>
</div>