@model List<ProductClass>

@{
    ViewData["Title"] = "Автомагазин";
}

<div class="row">
    @foreach (var product in @Model)
    {
        <div class="col-3 border-success shadow">
            <br>
            <a asp-controller="product" asp-action="index" asp-route-productId="@product.ID"><img class="card-img-top" src=@product.ImagePath height="150"></a>
            <a style="color:blue" asp-controller="product" asp-action="index" asp-route-productId="@product.ID">
                <h3>@product.Name</h3>
            </a>
            <h5>@product.Cost</h5>
            <a class=" btn btn-success" asp-controller="cart" asp-action="add" asp-route-productId="@product.ID">Купить</a>
            <p>
        </div>
     }
</div>

